---
import Page from './_index';
import { Pointer } from './_pointer';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>appleicat</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.fontshare.com/v2/css?f[]=melodrama@1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-black text-white h-svh w-svw font-['Satoshi'] [font-size:clamp(0.5rem,3vmin,1rem)] cursor-none"
  >
    <Pointer size="32" hover="data-hover-pointer" client:only="react" />
    <Page client:load />
  </body>
</html>

<style is:global>
  ::-webkit-scrollbar {
    display: none;
  }
  ::selection {
    background-color: rgba(0, 0, 0, 0.1);
  }
</style>

<script>
  import LocomotiveScroll from 'locomotive-scroll';
  const locomotiveScroll = new LocomotiveScroll();
  window.addEventListener('scroll', () => {
    locomotiveScroll.resize();
  });
</script>
