---
import Page from './_page';
import { Pointer } from './_pointer';
import Grainy from './_grainy.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>appleicat</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.fontshare.com/v2/css?f[]=melodrama@1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-black text-white font-['Satoshi']">
    <div
      class="fixed w-full h-full opacity-50"
      style="filter: url(#grainy) grayscale(1) contrast(300%) brightness(7%)"
    >
    </div>
    <Grainy id="grainy" frequency="7" octaves="7" />
    <Pointer size="32" hover="data-hover-pointer" client:only />
    <Page client:only />
  </body>
</html>

<style is:global>
  ::-webkit-scrollbar {
    display: none;
  }
  ::selection {
    background-color: rgba(0, 0, 0, 0.1);
  }
</style>

<script>
  import LocomotiveScroll from 'locomotive-scroll';
  const locomotiveScroll = new LocomotiveScroll();
</script>
